/* line 1, ../sass/base/base.scss */
* {
  margin: 0px;
  padding: 0px; }

/* line 7, ../sass/base/base.scss */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 13, ../sass/base/base.scss */
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F9F8F8; }

/* line 19, ../sass/base/base.scss */
html {
  font-size: 62.5%; }

/* line 23, ../sass/base/base.scss */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */ }

/* line 39, ../sass/base/base.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

/* line 52, ../sass/base/base.scss */
a {
  text-decoration: none; }

/* line 59, ../sass/base/base.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/* line 74, ../sass/base/base.scss */
audio,
canvas,
video {
  display: inline-block; }

/* line 80, ../sass/base/base.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 85, ../sass/base/base.scss */
[hidden] {
  display: none; }

/* line 89, ../sass/base/base.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 95, ../sass/base/base.scss */
body {
  margin: 0; }

/* line 99, ../sass/base/base.scss */
a:focus {
  outline: thin dotted; }

/* line 103, ../sass/base/base.scss */
a:active,
a:hover {
  outline: 0; }

/* line 108, ../sass/base/base.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 113, ../sass/base/base.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 117, ../sass/base/base.scss */
b,
strong {
  font-weight: bold; }

/* line 122, ../sass/base/base.scss */
dfn {
  font-style: italic; }

/* line 126, ../sass/base/base.scss */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/* line 132, ../sass/base/base.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 137, ../sass/base/base.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* line 145, ../sass/base/base.scss */
pre {
  white-space: pre-wrap; }

/* line 149, ../sass/base/base.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 153, ../sass/base/base.scss */
small {
  font-size: 80%; }

/* line 157, ../sass/base/base.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 165, ../sass/base/base.scss */
sup {
  top: -0.5em; }

/* line 169, ../sass/base/base.scss */
sub {
  bottom: -0.25em; }

/* line 173, ../sass/base/base.scss */
img {
  border: 0; }

/* line 177, ../sass/base/base.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 181, ../sass/base/base.scss */
figure {
  margin: 0; }

/* line 185, ../sass/base/base.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 191, ../sass/base/base.scss */
legend {
  border: 0;
  padding: 0; }

/* line 196, ../sass/base/base.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

/* line 205, ../sass/base/base.scss */
button,
input {
  line-height: normal; }

/* line 210, ../sass/base/base.scss */
button,
select {
  text-transform: none; }

/* line 215, ../sass/base/base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 223, ../sass/base/base.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 228, ../sass/base/base.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

/* line 235, ../sass/base/base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 241, ../sass/base/base.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 250, ../sass/base/base.scss */
.icon--keyboard {
  display: none; }

/* line 254, ../sass/base/base.scss */
main {
  position: relative;
  width: 100%; }

@media screen and (max-width: 55em) {
  /* line 268, ../sass/base/base.scss */
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    min-height: 0;
    padding-bottom: 10em; } }
/*font-family: 'Roboto Mono', monospace;
font-family: 'Muli', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Righteous', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Major Mono Display', monospace;
font-family: 'Raleway', sans-serif;*/
/* line 10, ../sass/base/typography.scss */
.highlighter {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(orange), to(#ff2700)) bottom repeat-x;
  background: linear-gradient(to right, orange, #ff2700) bottom repeat-x;
  background-size: 3px 3px;
  -webkit-transition: .3s;
  transition: .3s; }
  /* line 15, ../sass/base/typography.scss */
  .highlighter:hover {
    color: #fff;
    background-size: 100% 100%; }

/* line 1, ../sass/pages/home.scss */
.canvas {
  position: relative;
  width: 100%;
  height: 100vh; }

/* line 10, ../sass/pages/home.scss */
.section__heading {
  position: absolute;
  top: 7rem;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'Major Mono Display', monospace; }
  /* line 18, ../sass/pages/home.scss */
  .section__heading h1 {
    font-size: 5rem;
    color: #222222;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 900; }
/* line 28, ../sass/pages/home.scss */
.section__about, .section__structure, .section__problems, .section__faq, .section__footer {
  width: 100%;
  height: 0vh;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.7, 0.18, 0.97, 0.54);
  transition: all 0.5s cubic-bezier(0.7, 0.18, 0.97, 0.54); }
/* line 42, ../sass/pages/home.scss */
.section__about {
  z-index: 11;
  background: #fff; }
/* line 47, ../sass/pages/home.scss */
.section__structure {
  z-index: 21;
  background: #fff;
  overflow: hidden; }
/* line 52, ../sass/pages/home.scss */
.section__problems {
  z-index: 31;
  background: #fff;
  overflow: hidden; }
/* line 57, ../sass/pages/home.scss */
.section__faq {
  z-index: 41;
  background: #fff;
  overflow: hidden; }
/* line 62, ../sass/pages/home.scss */
.section__footer {
  z-index: 51;
  background: #fff;
  overflow: hidden; }

/* line 69, ../sass/pages/home.scss */
.overFlowControl {
  overflow: hidden; }

/* line 73, ../sass/pages/home.scss */
.goUp {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  height: 100vh; }

/* line 1, ../sass/layout/header.scss */
.header {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1; }
  /* line 7, ../sass/layout/header.scss */
  .header .topCircle {
    position: absolute;
    left: 91%;
    top: -10rem; }
  /* line 12, ../sass/layout/header.scss */
  .header .circle {
    position: absolute;
    border-radius: 50%;
    background: rgba(79, 195, 247, 0.49);
    opacity: 0.7; }
  /* line 19, ../sass/layout/header.scss */
  .header .cs1 {
    width: 20rem;
    height: 20rem;
    position: relative; }
  /* line 25, ../sass/layout/header.scss */
  .header .cs2 {
    width: 15rem;
    height: 15rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  /* line 35, ../sass/layout/header.scss */
  .header .cs3 {
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  /* line 45, ../sass/layout/header.scss */
  .header .bg {
    width: 100%;
    height: 100%;
    position: relative; }
    /* line 49, ../sass/layout/header.scss */
    .header .bg__images {
      position: absolute;
      left: 0;
      top: -5rem; }
  /* line 57, ../sass/layout/header.scss */
  .header__details {
    position: absolute;
    left: 10rem;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  /* line 67, ../sass/layout/header.scss */
  .header__logo {
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    background-image: url(../images/logo.png);
    background-size: contain; }
  /* line 74, ../sass/layout/header.scss */
  .header__text {
    position: relative;
    font-size: 7rem;
    margin-top: 2rem;
    font-family: 'Muli', sans-serif;
    font-weight: 600; }
    /* line 81, ../sass/layout/header.scss */
    .header__text__team {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 3rem;
      z-index: 2;
      position: absolute;
      top: 90%;
      font-size: 1rem;
      text-transform: uppercase;
      font-family: sans-serif;
      letter-spacing: 3px; }
      /* line 93, ../sass/layout/header.scss */
      .header__text__team .teamLogo {
        width: 3.5rem; }
      /* line 97, ../sass/layout/header.scss */
      .header__text__team__text::after {
        content: '';
        position: absolute;
        left: 100%;
        top: 138%;
        height: 1px;
        background: black;
        width: 8rem; }
      /* line 107, ../sass/layout/header.scss */
      .header__text__team__text::before {
        content: '';
        position: absolute;
        left: 0%;
        top: 138%;
        -webkit-transform: translateX(-101%);
                transform: translateX(-101%);
        height: 1px;
        background: black;
        width: 8rem; }
  /* line 120, ../sass/layout/header.scss */
  .header__social {
    position: absolute;
    width: 4rem;
    height: 15rem;
    left: 96%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    /* line 131, ../sass/layout/header.scss */
    .header__social .svgIcons {
      width: 3rem;
      height: 3rem;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      /* line 135, ../sass/layout/header.scss */
      .header__social .svgIcons:hover {
        -webkit-transform: scale(1.2) rotate(10deg);
                transform: scale(1.2) rotate(10deg);
        fill: #ff5252; }
  /* line 141, ../sass/layout/header.scss */
  .header__buttons-grid {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  /* line 146, ../sass/layout/header.scss */
  .header__btn {
    color: black;
    height: 40px;
    width: 120px;
    font-family: "Raleway" sans-serif;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    overflow: hidden;
    margin: 1rem 2rem;
    font-size: 2rem;
    position: relative;
    -webkit-transition: all .8s;
    transition: all .8s; }
    /* line 160, ../sass/layout/header.scss */
    .header__btn:hover {
      -webkit-transform: translateY(-2px);
              transform: translateY(-2px);
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    /* line 165, ../sass/layout/header.scss */
    .header__btn__colo1, .header__btn__colo2 {
      background-color: #FF5722;
      height: 0px;
      width: 0px;
      position: absolute;
      top: 0px;
      left: 0px;
      -webkit-transform: translate(-50px, -50px);
              transform: translate(-50px, -50px);
      opacity: 0;
      z-index: -1;
      border-radius: 50%; }

/* line 2, ../sass/layout/footer.scss */
.footer__bottom {
  width: 100%;
  height: 40%;
  background: #1a1a1a;
  position: absolute;
  bottom: 0; }
/* line 9, ../sass/layout/footer.scss */
.footer__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%; }
  /* line 15, ../sass/layout/footer.scss */
  .footer__top img {
    width: 30rem;
    margin-top: 4rem;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  /* line 21, ../sass/layout/footer.scss */
  .footer__top__anim, .footer__top__anim svg {
    position: relative;
    width: 100%; }
/* line 31, ../sass/layout/footer.scss */
.footer__csi {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 39, ../sass/layout/footer.scss */
  .footer__csi__logo {
    width: 5rem; }
  /* line 43, ../sass/layout/footer.scss */
  .footer__csi__text {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center; }
  /* line 52, ../sass/layout/footer.scss */
  .footer__csi::before {
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    left: -110%;
    top: 50%; }
  /* line 61, ../sass/layout/footer.scss */
  .footer__csi::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 110%;
    top: 50%; }
/* line 71, ../sass/layout/footer.scss */
.footer__links {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
/* line 78, ../sass/layout/footer.scss */
.footer__bottomer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 55%;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
/* line 86, ../sass/layout/footer.scss */
.footer__contacts, .footer__details {
  width: 50%;
  color: #fff;
  font-size: 1.65rem;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 99, ../sass/layout/footer.scss */
  .footer__contacts a, .footer__details a {
    color: #fff; }
/* line 105, ../sass/layout/footer.scss */
.footer__contacts a {
  color: #fff; }
/* line 108, ../sass/layout/footer.scss */
.footer__contacts-heading {
  margin-bottom: 1rem; }
/* line 112, ../sass/layout/footer.scss */
.footer__contacts-name {
  display: inline-block; }
/* line 117, ../sass/layout/footer.scss */
.footer__part {
  height: 5rem;
  background: #fff;
  width: 2px; }

/* line 1, ../sass/layout/navigation.scss */
.nav {
  z-index: 100;
  width: 100%;
  position: fixed; }
  /* line 8, ../sass/layout/navigation.scss */
  .nav__button {
    z-index: 10;
    position: fixed;
    width: 50px;
    height: 20px;
    top: 30px;
    right: 30px; }
    /* line 15, ../sass/layout/navigation.scss */
    .nav__button:hover {
      cursor: pointer; }
    /* line 21, ../sass/layout/navigation.scss */
    .nav__button span {
      width: 35px;
      background: #000;
      height: 2px;
      position: absolute;
      border-radius: 100px;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      /* line 29, ../sass/layout/navigation.scss */
      .nav__button span::after {
        content: '';
        position: absolute;
        width: 35px;
        height: 2px;
        background: #000;
        top: 4px;
        left: 0;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      /* line 40, ../sass/layout/navigation.scss */
      .nav__button span::before {
        content: '';
        position: absolute;
        width: 35px;
        height: 2px;
        background: #000;
        top: -4px;
        left: 0;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
    /* line 53, ../sass/layout/navigation.scss */
    .nav__button-hover:hover > span {
      width: 32px; }
    /* line 56, ../sass/layout/navigation.scss */
    .nav__button-hover:hover > span::after {
      width: 29px; }
  /* line 61, ../sass/layout/navigation.scss */
  .nav__menu {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 9;
    background: #2c2a2a;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1); }
    /* line 71, ../sass/layout/navigation.scss */
    .nav__menu__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      font-family: sans-serif;
      position: absolute;
      left: 70%;
      top: 10rem;
      -webkit-transform: translateY(-8rem);
              transform: translateY(-8rem);
      opacity: 0;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      letter-spacing: 3px; }
      /* line 87, ../sass/layout/navigation.scss */
      .nav__menu__list a {
        margin: 20px 0; }
      /* line 91, ../sass/layout/navigation.scss */
      .nav__menu__list .nav__link {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(0%, rgba(255, 255, 255, 0)));
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0%);
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 1px 1px;
        text-decoration: none;
        font-family: 'Roboto Mono', monospace;
        font-size: 3rem; }
        /* line 99, ../sass/layout/navigation.scss */
        .nav__menu__list .nav__link:hover {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
          background-position: 0 100%;
          background-size: auto 6px;
          background-repeat: repeat-x;
          text-decoration: none; }
  /* line 111, ../sass/layout/navigation.scss */
  .nav__icons {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all .3s;
    transition: all .3s; }
    /* line 117, ../sass/layout/navigation.scss */
    .nav__icons .nav__social__links:hover > svg {
      fill: #f28c01; }
  /* line 122, ../sass/layout/navigation.scss */
  .nav__social__links {
    margin: 0 2rem; }
    /* line 124, ../sass/layout/navigation.scss */
    .nav__social__links .svgIcons {
      width: 3rem;
      height: 3rem;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      fill: #fff; }
  /* line 133, ../sass/layout/navigation.scss */
  .nav__csi {
    font-size: 15rem;
    color: rgba(60, 59, 59, 0.53);
    -webkit-transform: translateY(-8rem);
            transform: translateY(-8rem);
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-family: 'Poiret One', cursive; }

/* line 146, ../sass/layout/navigation.scss */
.expandNav {
  height: 100vh; }

/* line 151, ../sass/layout/navigation.scss */
.showNavEl {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  opacity: 1; }

/* line 157, ../sass/layout/navigation.scss */
.nav_button-animation span {
  background: #fff; }
  /* line 160, ../sass/layout/navigation.scss */
  .nav_button-animation span::after {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    background: #fff;
    width: 13px;
    left: 25px; }
  /* line 166, ../sass/layout/navigation.scss */
  .nav_button-animation span::before {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
    background: #fff;
    width: 13px;
    left: 25px; }

/* line 178, ../sass/layout/navigation.scss */
.navigation__buttons {
  position: fixed;
  z-index: 100;
  width: 6rem;
  height: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
/* line 190, ../sass/layout/navigation.scss */
.navigation__up, .navigation__down {
  -webkit-transition: all .3s;
  transition: all .3s; }
  /* line 193, ../sass/layout/navigation.scss */
  .navigation__up:hover, .navigation__down:hover {
    cursor: pointer;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
  /* line 197, ../sass/layout/navigation.scss */
  .navigation__up:active, .navigation__down:active {
    -webkit-transform: translateY(-0.5px);
            transform: translateY(-0.5px); }

/* line 1, ../sass/components/about.scss */
.glitch-window-1, .glitch-window-2, .glitch-window-3 {
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #222222;
  text-shadow: 2px 0 #F9F8F8, -1px 0 yellow, -2px 0 green;
  overflow: hidden;
  -webkit-animation: crt-me 2500ms infinite linear alternate-reverse;
          animation: crt-me 2500ms infinite linear alternate-reverse; }

@-webkit-keyframes crt-me {
  0% {
    clip: rect(31px, 9999px, 94px, 0); }
  10% {
    clip: rect(112px, 9999px, 76px, 0); }
  20% {
    clip: rect(85px, 9999px, 77px, 0); }
  30% {
    clip: rect(17px, 9999px, 97px, 0); }
  40% {
    clip: rect(64px, 9999px, 98px, 0); }
  50% {
    clip: rect(61px, 9999px, 85px, 0); }
  60% {
    clip: rect(99px, 9999px, 114px, 0); }
  70% {
    clip: rect(14px, 9999px, 115px, 0); }
  80% {
    clip: rect(98px, 9999px, 129px, 0); }
  90% {
    clip: rect(43px, 9999px, 96px, 0); }
  100% {
    clip: rect(12px, 9999px, 64px, 0); } }

@keyframes crt-me {
  0% {
    clip: rect(31px, 9999px, 94px, 0); }
  10% {
    clip: rect(112px, 9999px, 76px, 0); }
  20% {
    clip: rect(85px, 9999px, 77px, 0); }
  30% {
    clip: rect(17px, 9999px, 97px, 0); }
  40% {
    clip: rect(64px, 9999px, 98px, 0); }
  50% {
    clip: rect(61px, 9999px, 85px, 0); }
  60% {
    clip: rect(99px, 9999px, 114px, 0); }
  70% {
    clip: rect(14px, 9999px, 115px, 0); }
  80% {
    clip: rect(98px, 9999px, 129px, 0); }
  90% {
    clip: rect(43px, 9999px, 96px, 0); }
  100% {
    clip: rect(12px, 9999px, 64px, 0); } }
/* line 53, ../sass/components/about.scss */
.about__part {
  background: #f5f0c6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh; }
/* line 61, ../sass/components/about.scss */
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7rem; }
/* line 65, ../sass/components/about.scss */
.about__text {
  width: 50%;
  z-index: 13;
  padding: 2rem;
  display: inline-block; }
  /* line 71, ../sass/components/about.scss */
  .about__text-heading {
    font-size: 5rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    margin-bottom: 3rem; }
  /* line 78, ../sass/components/about.scss */
  .about__text-para {
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    padding: 1rem;
    color: black; }
    /* line 84, ../sass/components/about.scss */
    .about__text-para a {
      color: black; }
/* line 90, ../sass/components/about.scss */
.about__logo {
  position: relative;
  width: 50%; }
  /* line 93, ../sass/components/about.scss */
  .about__logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

/* line 1, ../sass/components/slider.scss */
.my-canvas {
  width: 200px;
  height: 70px;
  cursor: pointer;
  position: absolute;
  left: 75%;
  top: 60%; }

/* line 10, ../sass/components/slider.scss */
.pieces-slider {
  position: relative;
  text-align: center;
  padding: 8rem 0;
  width: 100%; }

/* line 17, ../sass/components/slider.scss */
.js .pieces-slider {
  padding: 0; }

/* Make all slides absolutes and hide them */
/* line 22, ../sass/components/slider.scss */
.js .pieces-slider__slide {
  position: absolute;
  right: 100%; }

/* Define image dimensions and also hide them */
/* line 28, ../sass/components/slider.scss */
.pieces-slider__image {
  max-width: 600px;
  max-height: 400px; }

/* line 33, ../sass/components/slider.scss */
.js .pieces-slider__image {
  visibility: hidden; }

/* Hide the titles */
/* line 38, ../sass/components/slider.scss */
.js .pieces-slider__text {
  text-indent: -9999px; }

/* line 41, ../sass/components/slider.scss */
.js .pieces-slider__text-2 {
  text-indent: -9999px; }

/* Canvas with viewport width and height */
/* line 45, ../sass/components/slider.scss */
.js .pieces-slider__canvas {
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity; }

/* Class for when we resize */
/* line 54, ../sass/components/slider.scss */
.pieces-slider__canvas--hidden {
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }

/* Navigation buttons */
/* line 60, ../sass/components/slider.scss */
.pieces-slider__button {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -25px 0 0 0;
  background-color: #1A237E;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.1s background-color;
  transition: 0.1s background-color; }

/* line 76, ../sass/components/slider.scss */
.pieces-slider__button:hover {
  background: #5f3abf; }

/* line 80, ../sass/components/slider.scss */
.pieces-slider__button--next {
  left: auto;
  right: 0; }

/* Hide the buttons when no JS */
/* line 86, ../sass/components/slider.scss */
.no-js .pieces-slider__button {
  display: none; }

/* Media queries with styles for smaller screens */
@media screen and (max-width: 720px) {
  /* line 92, ../sass/components/slider.scss */
  .pieces-slider__image {
    max-width: 300px; } }
@media screen and (max-width: 55em) {
  /* line 98, ../sass/components/slider.scss */
  .pieces-slider__canvas {
    width: 100vw;
    height: 100vw; }

  /* line 102, ../sass/components/slider.scss */
  .pieces-slider__button {
    width: 60px;
    height: 60px; } }
/* line 2, ../sass/components/structure.scss */
.structure__content {
  position: relative;
  width: 100%;
  margin-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
/* line 9, ../sass/components/structure.scss */
.structure__grid {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative; }
  /* line 17, ../sass/components/structure.scss */
  .structure__grid__item {
    position: relative;
    width: 25rem;
    height: 25rem;
    margin: 2rem; }
  /* line 24, ../sass/components/structure.scss */
  .structure__grid__box {
    position: relative;
    width: 100%;
    height: 100%; }
    /* line 29, ../sass/components/structure.scss */
    .structure__grid__box__shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      top: -1rem;
      left: -1rem;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOklEQVQoU43MSwoAMAgD0eT+h7ZYaOlHo7N+DNHL2HAGgBWcyGcKbqTghTL4oQiG6IUpOqFEC5bI4QD8PAoKd9j4XwAAAABJRU5ErkJggg==); }
    /* line 39, ../sass/components/structure.scss */
    .structure__grid__box__img {
      position: absolute;
      width: 23rem;
      height: 23rem; }
    /* line 45, ../sass/components/structure.scss */
    .structure__grid__box__title {
      color: black;
      text-transform: uppercase;
      font-size: 3rem;
      position: absolute;
      -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
              writing-mode: vertical-rl;
      left: 90%;
      top: 10%;
      white-space: nowrap;
      letter-spacing: 0.15rem;
      font-family: 'Anton', sans-serif; }
    /* line 58, ../sass/components/structure.scss */
    .structure__grid__box__num {
      color: black;
      position: absolute;
      top: -3rem;
      left: 0;
      padding: 1.5rem 1rem;
      border: .5rem solid black;
      font-size: 3rem;
      border-radius: 300px;
      -webkit-transition: all .2s;
      transition: all .2s; }
    /* line 69, ../sass/components/structure.scss */
    .structure__grid__box__content {
      color: black;
      position: absolute;
      font-size: 1.3rem;
      top: 100%;
      left: 0; }

/*
.box__title-inner {
	display: block;
	position: relative;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 3rem;
	letter-spacing: 0.15rem;
	line-height: 1.25;
	font-family: 'Anton', sans-serif;
}
*/
/*.box__title-inner[data-hover] {
	-webkit-text-stroke: 2px #000;
	text-stroke: 2px #000;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
}

.box__title-inner::before {
	content: attr(data-hover);
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	overflow: hidden;
	white-space: nowrap;
	-webkit-text-stroke: 0;
	text-stroke: 0;
	-webkit-text-fill-color: #000;
	text-fill-color: #000;
	color: #000;
	transition: all 0.3s;
}*/
/*.box__text-inner--reverse {
	background: var(--color-text);
	color: var(--color-bg);
}*/
/*.box__img {
	display: block;
	flex: none;
	margin: 0 auto;
	max-width: 100%;
	filter: grayscale(1);
	transition: filter 0.3s;
	pointer-events: none;
}

.grid__item:hover .box__img:not(.box__img--original) {
	filter: grayscale(0);
}*/
/*.box__shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -1rem;
	left: -1rem;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOklEQVQoU43MSwoAMAgD0eT+h7ZYaOlHo7N+DNHL2HAGgBWcyGcKbqTghTL4oQiG6IUpOqFEC5bI4QD8PAoKd9j4XwAAAABJRU5ErkJggg==);
}*/
/*.box__deco {
	font-size: 6rem;
	line-height: 1;
	font-weight: bold;
	position: absolute;
	bottom: -4rem;
	right: -4rem;
	display: none;
}

.box__content {
	position: absolute;
	max-width: 195px;
	font-size: 0.9rem;
	text-align: right;
	display: none;
}

.box__content strong {
	white-space: nowrap;
}*/

/*# sourceMappingURL=style.css.map */