* {
  margin: 0px;
  padding: 0px; }

*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, #ea5a6f, #de781e);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed; }

html {
  font-size: 62.5%; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */ }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

a {
  text-decoration: none; }

.container {
  width: 80%;
  height: 150rem;
  background: #fff;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 6rem;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 5rem; }
  .container .header {
    position: relative;
    width: 100%;
    min-height: 30rem;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .container .main {
    display: flex;
    height: 100%; }
    .container .main .nav {
      width: 20%;
      background: #222020;
      padding-top: 2rem; }
      .container .main .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        cursor: pointer;
        transition: all .3s; }
        .container .main .nav__link .svgIcons {
          width: 2rem;
          height: 2rem;
          fill: #fff; }
        .container .main .nav__link__text {
          color: #fff;
          letter-spacing: 2px;
          font-size: 1.5rem;
          font-family: 'Poppins', sans-serif; }
        .container .main .nav__link:hover {
          background-image: linear-gradient(to right, #eb121a, #faeb1b); }
    .container .main .content {
      background: #fff;
      flex: 1;
      overflow: hidden;
      position: relative; }
      .container .main .content .team__name {
        background-image: linear-gradient(to right, #eb121a, #faeb1b);
        color: #fff;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        display: inline-block;
        padding: 1rem 3rem;
        font-size: 3rem;
        font-weight: 600;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 2rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        z-index: 500; }
      .container .main .content__box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        transition: all .3s;
        margin-top: 3rem; }
        .container .main .content__box .topic {
          width: 100%;
          margin-top: 15rem;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 6rem; }
          .container .main .content__box .topic__synopsis {
            background: black;
            color: #fff;
            padding: 1rem 2rem;
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 2px;
            cursor: pointer; }
          .container .main .content__box .topic__head {
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
            letter-spacing: 3px; }
            .container .main .content__box .topic__head span {
              font-weight: 600; }
          .container .main .content__box .topic__details {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem 0; }
          .container .main .content__box .topic__abstract {
            text-transform: uppercase;
            font-size: 2rem;
            font-family: 'Muli', sans-serif; }
            .container .main .content__box .topic__abstract__text {
              font-size: 2rem;
              margin: 2rem 1rem; }
        .container .main .content__box .members {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .container .main .content__box .members__heading {
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
            letter-spacing: 3px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 4rem; }
          .container .main .content__box .members__grid {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 3rem 0;
            padding: 0 3rem; }
          .container .main .content__box .members__details {
            text-align: left;
            width: 30rem;
            padding: 1rem;
            background: #f5c0c0;
            border-radius: 3px;
            margin: 0 1rem; }
          .container .main .content__box .members__head {
            font-size: 2.4rem;
            margin-bottom: 2rem;
            font-family: 'Muli',sans-serif;
            font-weight: 900; }
          .container .main .content__box .members__name {
            font-family: 'Poppins', sans-serif;
            font-size: 2rem; }
            .container .main .content__box .members__name span {
              font-weight: 600; }
          .container .main .content__box .members__mobile {
            font-family: 'Poppins', sans-serif;
            font-size: 2rem; }
            .container .main .content__box .members__mobile span {
              font-weight: 600; }
          .container .main .content__box .members__roll {
            font-size: 2rem; }
          .container .main .content__box .members__year {
            font-size: 2rem; }
        .container .main .content__box .uploadInst {
          color: red;
          text-align: center;
          font-size: 1.5rem;
          margin-top: 2rem; }
        .container .main .content__box .uploader {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .container .main .content__box .uploader__input {
            width: 50rem;
            height: 4rem;
            border: 2px solid #d50000;
            display: flex;
            overflow: hidden;
            margin: 1.5rem 0; }
            .container .main .content__box .uploader__input__link {
              width: 80%;
              color: blue; }
            .container .main .content__box .uploader__input .uploadIcon {
              width: 2.2rem;
              height: 2.2rem;
              fill: #fff; }
          .container .main .content__box .uploader__btn {
            background: #d50000;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative; }
            .container .main .content__box .uploader__btn input {
              position: absolute;
              width: 100%;
              height: 100%;
              background: transparent;
              border: none; }
              .container .main .content__box .uploader__btn input:active {
                outline: none; }
            .container .main .content__box .uploader__btn:hover {
              background: transparent; }
              .container .main .content__box .uploader__btn:hover .uploadIcon {
                fill: black; }
        .container .main .content__box .task__box {
          width: 100%;
          height: 40rem;
          display: flex;
          flex-direction: column; }
        .container .main .content__box .task {
          width: 100%;
          padding: 1rem 1.3rem;
          font-size: 1.2rem;
          font-family: 'Poppins', sans-serif; }
          .container .main .content__box .task__heading {
            text-align: center;
            font-size: 2rem;
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
            margin-top: 2rem;
            font-weight: 600; }
          .container .main .content__box .task__code {
            font-size: 1.5rem;
            color: #d32f2f; }
          .container .main .content__box .task__marks {
            color: #d32f2f; }
        .container .main .content__box .synopsis {
          display: flex;
          width: 50rem;
          height: 4rem;
          border: 2px solid #d50000;
          display: flex;
          overflow: hidden;
          margin-top: 4rem;
          margin-left: 50%;
          transform: translateX(-50%); }
          .container .main .content__box .synopsis input {
            width: 80%;
            color: blue; }
          .container .main .content__box .synopsis__btn {
            background: #d50000;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; }
          .container .main .content__box .synopsis .uploadIcon {
            width: 2.2rem;
            height: 2.2rem;
            fill: #fff; }
        .container .main .content__box .instructions {
          width: 100%;
          padding: 1rem;
          font-size: 1.5rem; }
          .container .main .content__box .instructions .instruction {
            margin: 3rem 0; }
            .container .main .content__box .instructions .instruction__num {
              font-family: 'Muli', sans-serif;
              font-weight: 900;
              text-align: center;
              color: #ed211d; }
            .container .main .content__box .instructions .instruction__text {
              font-family: 'Poppins', sans-serif;
              color: #ef5350; }

.coordinators {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: all .2s;
  overflow: hidden;
  z-index: 35;
  margin-top: 2rem; }
  .coordinators__grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1rem 0; }
  .coordinators__box {
    width: 20rem;
    height: 20rem;
    margin: .3rem 1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all .2s;
        /*   @include respond(tab-port) {
                  width: 18rem;
                  height: 18rem;
              }

              @include respond(phone) {
                  width: 12rem;
                  height: 12rem;
                  margin: .2rem;
              }

              @include respond(400) {
                  width: 10rem;
                  height: 10rem;
                  margin: .1rem;
              }
*/
    /*  div {
              @include respond(phone) {
                  font-size: 1rem;
              }
          }*/ }
    .coordinators__box:hover > div {
      top: 80%; }
  .coordinators__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .coordinators__details {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.62);
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    height: 20%;
    color: #fff;
    font-size: 1.2rem;
    text-align-last: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1rem;
    transition: all .2s; }

.hide {
  transform: translateX(-100%);
  opacity: 0; }

/*# sourceMappingURL=style.css.map */
