.header {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: #fff;


    .bg {
        width: 100%;
        height: 100%;
        position: relative;

        &__images {

            position: absolute;

        }

        #bg1 {
            width: 50rem;

            @include respond(tab-land) {
                width: 30rem;
            }

            @include respond(phone) {
                width: 20rem;
            }

            @include respond(phonesm) {
                width: 15rem;
            }
        }

        #bg2 {
            right: 0;
            width: 60rem;
            bottom: 0;

            @include respond(tab-land) {
                width: 40rem;
            }

            @include respond(phone) {
                width: 25rem;
            }

            @include respond(400) {
                width: 15rem;
            }

        }

        #bg3 {
            right: 0;
            width: 15rem;

            @include respond(tab-land) {
                width: 12rem;
            }

            @include respond(phone) {
                width: 10rem;
            }

            @include respond(400) {
                width: 6rem;
            }
        }

        #bg4 {
            right: 0;
            height: 100%;
            z-index: -1;

            @include respond(phone) {
                right: -40rem;
            }

        }
    }

    &__details {
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &__main {
            margin-top: 2rem;
            width: 80%;
            margin-left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            align-items: baseline;

            @include respond(phone) {
                align-items: center;
            }
        }
    }

    &__logo {
        width: 12rem;
        height: 12rem;
        margin-top: 1rem;
        background-image: url(../images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;

        @include respond(tab-land) {
            width: 12rem;
        }

        @include respond(phone) {
            width: 10rem;
        }

        @include respond(400) {}

        @include respond(phonesm) {}
    }

    &__text {
        position: relative;
        font-size: 7rem;
        font-family: 'Muli', sans-serif;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        z-index: 10;


        @include respond(tab-land) {
            font-size: 5rem;
        }

        @include respond(phone) {
            font-size: 4rem;
            align-items: center;
        }

        @include respond(400) {}

        @include respond(phonesm) {
            font-size: 3rem;
        }

        &__main {
            position: relative;
            display: inline-block;
            font-family: 'Poppins', sans-serif;
            -webkit-background-clip: text;
            background-image: url(../images/text.jpg);
            color: transparent;
            background-repeat: no-repeat;
            background-size: cover;
            white-space: nowrap;


        }

        &__tag {
            font-size: 2rem;
            display: inline-block;
            letter-spacing: 4px;
            white-space: nowrap;

            @include respond(phone) {
                letter-spacing: 3px;
                font-size: 1.5rem;
            }

            @include respond(phonesm) {
                font-size: 1rem;
            }
        }

        &__team {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 3rem;
            z-index: 2;
            position: absolute;
            top: 90%;
            font-size: 1rem;
            text-transform: uppercase;
            font-family: sans-serif;
            letter-spacing: 3px;
            width: 100%;

            @include respond(phone) {
                font-size: .8rem;
            }

            .teamLogo {
                width: 3.5rem;
            }

            &__text::after {
                content: '';
                position: absolute;
                left: 50.2%;
                transform: translateX(100%);
                top: 138%;
                height: 1px;
                background: black;
                width: 8rem;

                @include respond(tab-port) {
                    left: 50.5%;
                }

                @include respond(phone) {
                    width: 4rem;
                    left: 57.5%;
                }

                @include respond(400) {
                    left: 58.5%;
                }

                @include respond(350) {
                    left: 59.5%;
                }

            }

            &__text::before {
                content: '';
                position: absolute;

                top: 138%;
                transform: translateX(-101%);
                height: 1px;
                background: black;
                width: 8rem;

                @include respond(phone) {
                    width: 4rem;
                }
            }
        }
    }

    &__social {
        position: absolute;
        width: 4rem;
        height: 15rem;
        left: 96%;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include respond(tab-port) {
            left: 92%;
            top: 45%;
        }

        @include respond(400) {
            left: 88%;
            top: 30%;
            height: 10rem;
        }

        &__links {}

        .svgIcons {
            width: 3rem;
            height: 3rem;
            transition: all .3s ease-in-out;

            @include respond(phone) {
                width: 2.2rem;
                height: 2.2rem;
            }

            @include respond(400) {
                width: 2rem;
                height: 2rem;
            }

            &:hover {
                transform: scale(1.2) rotate(10deg);
                fill: #ff5252;
            }
        }
    }

    &__buttons-grid {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
        margin-left: -4rem;

        @include respond(phone) {
            justify-content: center;
            margin-left: 0;
        }
    }

    &__btn {
        color: black;
        height: 40px;
        width: 120px;
        font-family: 'Raleway'sans-serif;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        overflow: hidden;
        margin: 1rem 2rem;
        font-size: 2rem;
        position: relative;
        transition: all .8s;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }

        &__colo1,
        &__colo2 {
            background-color: #FF5722;
            height: 0px;
            width: 0px;
            position: absolute;
            top: 0px;
            left: 0px;
            transform: translate(-50px, -50px);
            opacity: 0;
            z-index: -1;
            border-radius: 50%;
        }
    }



}


#particles-js {
    width: 30%;
    height: 100%;
    background-color: #ffffff;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
