.nav {
    z-index: 100;
    width: 100%;

    position: fixed;


    &__button {
        z-index: 10;
        position: fixed;
        width: 50px;
        height: 20px;
        top: 50px;
        right: 50px;

        @include respond(tab-port) {
            top: 45px;
            right: 45px;
        }

        @include respond(phone) {
            top: 33px;
            right: 33px;
        }

        @include respond(400) {
            top: 30px;
            right: 2px;
        }

        &:hover {
            cursor: pointer;

        }


        span {
            width: 35px;
            background: #000;
            height: 2px;
            position: absolute;
            border-radius: 100px;
            transition: all .2s ease-in-out;

            &::after {
                content: '';
                position: absolute;
                width: 35px;
                height: 2px;
                background: #000;
                top: 4px;
                left: 0;
                transition: all .2s ease-in-out;
            }

            &::before {
                content: '';
                position: absolute;
                width: 35px;
                height: 2px;
                background: #000;
                top: -4px;
                left: 0;
                transition: all .2s ease-in-out;
            }
        }


        &-hover:hover > span {
            width: 32px;
        }

        &-hover:hover > span::after {
            width: 29px;
        }
    }

    &__menu {
        width: 100%;
        height: 0;
        position: fixed;
        z-index: 9;
        background: rgba(44, 42, 42, 1);
        position: relative;
        overflow: hidden;
        transition: all .8s cubic-bezier(0.7, 0, 0.3, 1);


        img {
            position: absolute;
        }

        #navbg1 {
            left: 0;
            width: 30rem;
        }

        #navbg2 {
            bottom: -3rem;
            width: 100%;

            @include respond(phone) {
                bottom: -1rem;
            }
        }


        #navbg3 {
            width: 100%;
        }

        &__list {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            color: #fff;
            text-transform: uppercase;

            font-family: sans-serif;
            position: absolute;
            left: 70%;
            top: 10rem;
            transform: translateY(-8rem);
            opacity: 0;
            transition: all .4s ease-in-out;
            letter-spacing: 3px;

            @include respond(phone) {
                left: 65%;
            }

            a {
                margin: 20px 0;
                color: #fff;
            }

            .nav__link {
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0%);
                background-position: 0 100%;
                background-repeat: repeat-x;
                background-size: 1px 1px;
                text-decoration: none;
                font-family: 'Roboto Mono', monospace;
                font-size: 3rem;

                @include respond(phone) {
                    font-size: 2rem;
                }

                &:hover {

                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
                    background-position: 0 100%;
                    background-size: auto 6px;
                    background-repeat: repeat-x;
                    text-decoration: none;
                }
            }
        }
    }

    &__icons {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        transition: all .3s;

        .nav__social__links:hover > svg {
            fill: #f28c01;

        }
    }

    &__social__links {
        margin: 0 2rem;

        @include respond(phone) {
            margin: 0 1.2rem;
        }

        @include respond(400) {
            margin: 0 1rem;
        }

        .svgIcons {
            width: 3rem;
            height: 3rem;
            transition: all .3s ease-in-out;
            fill: #fff;

            @include respond(phone) {
                width: 2rem;
                height: 2rem;
            }
        }
    }

    &__csi {
        font-size: 10rem;
        color: rgba(60, 59, 59, 0.53);
        transform: translateY(-8rem);
        opacity: 0;
        transition: all .4s ease-in-out;
        font-family: 'Poiret One', cursive;
        margin-top: 5rem;

        @include respond(phone) {
            font-size: 5rem;
            margin-top: 17rem;
        }
    }

}


.expandNav {
    height: 100vh;

}

.showNavEl {
    transform: translateY(0rem);
    opacity: 1;
}

.nav_button-animation {
    span {
        background: #fff;

        &::after {
            transform: rotate(-50deg);
            background: #fff;
            width: 13px;
            left: 25px;
        }

        &::before {
            transform: rotate(50deg);
            background: #fff;
            width: 13px;
            left: 25px;
        }
    }
}

.navigation {


    &__buttons {
        position: fixed;
        z-index: 100;
        height: 5rem;
        left: 50%;
        transform: translateX(-50%);
        top: 85%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include respond(400){
                top: 90%;
            }

    }

    &__up,
    &__down {
        transition: all .3s;
        width: 3rem;

        svg {
            width: 100%;
            fill: orange;
            height: 5rem;
            @include respond(400){
                height: 1.3rem;
            }
        }

        &:hover {
            cursor: pointer;
            transform: translateY(-2px);
        }

        &:active {
            transform: translateY(-.5px);
        }


    }

    &__up {
        svg {
            fill: orange;
            transform: rotate(180deg);
        }
    }

    &__down {
        svg {
            fill: orange;
        }
    }

  


}


  .updownanime {
        animation: updown 2s ease-in-out inifnite !important;
    }

    @keyframes updown {
        0% {
            transform: translateY(0);
        }

        25% {
            transform: translateY(.5rem);
        }

        50% {
            transform: translateY(-.5rem);
        }

        100% {
            transform: translateY(0);
        }
    }