  .my-canvas {
      width: 200px;
      height: 70px;
      cursor: pointer;
      position: absolute;
      left: 75%;
      top: 60%;

      @include respond(tab-port) {
          left: 60%;
          top: 65%;
      }

      @include respond(phone) {
          left: 50%;
          top: 75%;
      }

      @include respond(400) {
          left: 30%;
          top: 75%;
      }
  }

  .pieces-slider {
      position: relative;
      text-align: center;
      padding: 8rem 0;
      width: 100%;
  }

  .js .pieces-slider {
      padding: 0;
  }

  /* Make all slides absolutes and hide them */

  .js .pieces-slider__slide {
      position: absolute;
      right: 100%;
  }

  /* Define image dimensions and also hide them */

  .pieces-slider__image {
      max-width: 600px;
      max-height: 400px;
  }

  .js .pieces-slider__image {
      visibility: hidden;
  }

  /* Hide the titles */

  .js .pieces-slider__text {
      text-indent: -9999px;
  }

  .js .pieces-slider__text-2 {
      text-indent: -9999px;
  }

  /* Canvas with viewport width and height */

  .js .pieces-slider__canvas {
      position: relative;

      width: 100%;
      height: 100vh;
      transition: 0.2s opacity;
  }

  /* Class for when we resize */

  .pieces-slider__canvas--hidden {
      opacity: 0;
      transition-duration: 0.3s;
  }

  /* Navigation buttons */

  .pieces-slider__button {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100px;
      height: 100px;
      margin: -25px 0 0 0;
      background-color: #1A237E;
      color: #fff;
      font-family: inherit;
      font-weight: bold;
      border: none;
      cursor: pointer;
      transition: 0.1s background-color;
  }

  .pieces-slider__button:hover {
      background: #5f3abf;
  }

  .pieces-slider__button--next {
      left: auto;
      right: 0;
  }

  /* Hide the buttons when no JS */

  .no-js .pieces-slider__button {
      display: none;
  }

  /* Media queries with styles for smaller screens */

  @media screen and (max-width: 720px) {
      .pieces-slider__image {
          max-width: 300px;
      }
  }

  @media screen and (max-width: 55em) {
      .pieces-slider__canvas {
          width: 100vw;
          height: 100vw;
      }

      .pieces-slider__button {
          width: 60px;
          height: 60px;
      }
  }

  .problems {

      &__close {
          position: absolute;
          top: 1rem;
          left: 86%;
          cursor: pointer;
          background: #fff;
          border-radius: 50%;
          z-index: 40;

          @include respond(tab-port) {
              top: 7.5rem;
              left: 95%;
          }

          @include respond(phone) {
              top: 6rem;
              left: 93%;
          }

          @include respond(400) {
              top: 6rem;
              left: 90%;
          }

          img {
              width: 4rem;
              height: 4rem;

              @include respond(tab-port) {
                  width: 3rem;
                  height: 3rem;
              }
          }


      }

      &__details {

          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100vh;
          background: #fff;
          z-index: 40;
          transform: scale(0);
          transition: all .3s ease-in-out;
          opacity: 0;

          #pbMain1 {
              background-image: url('../images/topics/medicb.jpg');
          }

          #pbMain2 {
              background-image: url('../images/topics/mentalb.png');
          }

          #pbMain3 {
              background-image: url('../images/topics/npab.jpg');
          }

          #pbMain4 {
              background-image: url('../images/topics/plasticb.jpeg');
          }

          #pbMain5 {
              background-image: url('../images/topics/statueb.jpg');
          }

          #pbMain6 {
              background-image: url('../images/topics/farmer.jpg');
          }


      }

      &__heading {
          font-family: 'Montserrat Alternates', sans-serif;
          font-size: 4rem;
          color: #000;
          text-transform: uppercase;
          margin: 1rem auto;
          text-align: center;

          @include respond(tab-port) {
              font-size: 3rem;
              margin: .5rem auto;
          }

          @include respond(phone) {
              font-size: 2rem;
              margin: .3rem auto;
          }
      }

      &__tag {

          font-size: 2rem;
          font-family: 'Poiret One', cursive;
          clear: #222121;
          text-align: center;
      }

      &__main {

          width: 80%;
          height: 70vh;
          //          background-image: url('../images/aadhaar.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          margin: 2rem 0;
          margin-left: 50%;
          transform: translateX(-50%);
          display: flex;

          @include respond(tab-port) {
              height: 80vh;
          }

          @include respond(tab-port) {
              width: 95%;
          }

          &__left {
              width: 30%;

              @include respond(tab-port) {
                  width: 0%;
              }
          }

          &__right {
              width: 70%;
              background: rgba(0, 0, 0, 0.58);
              position: relative;

              @include respond(tab-port) {
                  width: 100%;
              }
          }
      }

      &__abstract {
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 36;
          transition: all .3s;

          &__heading {
              text-align: center;
              text-transform: uppercase;
              color: #fff;
              font-size: 3rem;
              margin: 1rem 0;

              @include respond(tab-port) {
                  font-size: 2rem;
                  margin: .5rem 0;
              }
          }

          &__paras {
              padding: 0 1rem;
              display: flex;
              color: #fff;
              font-size: 1.5rem;
              line-height: 2.5rem;

              &-part {
                  padding: 0 1rem;
              }

              @include respond(tab-port) {
                  font-size: 1.4rem;
                  line-height: 2.3rem;
              }

              @include respond(phone) {
                  font-size: 1.2rem;
                  line-height: 2rem;
                  padding: 0 .8rem;
              }

              @include respond(400) {
                  font-size: 1rem;
                  line-height: 2rem;
                  padding: 0 .5rem;
              }
          }

          &__buttons {

              width: 100%;
              display: flex;
              justify-content: space-around;
              margin-top: 4rem;

              @include respond(tab-port) {
                  margin-top: 2rem;
              }

              @include respond(phone) {
                  margin-top: 1.2rem;
              }
          }

          &__btn {
              font-size: 1.6rem;
              text-transform: uppercase;
              letter-spacing: 3px;
              height: 3rem;
              color: #fff;
              position: relative;
              font-family: 'Raleway', sans-serif;
              cursor: pointer;
              padding: 1rem 1.5rem;
              transition: all .2s;
              font-weight: 200;
              border: 1px solid #fff;
              display: flex;
              flex-direction: column;
              justify-content: center;

              @include respond(tab-port) {
                  padding: .6rem 1rem;
                  font-size: 1.2rem;
              }

              @include respond(phone) {
                  padding: .2rem .5rem;
                  font-size: 1rem;
                  letter-spacing: 2px;
              }

              @include respond(400) {
                  padding: .1rem .3rem;
                  font-size: .7rem;
                  letter-spacing: 1px;
              }

              &:hover {
                  background: #fff;
                  color: #000;
                  font-weight: 400;
              }

          }


      }

      &__tasks {
          position: absolute;
          background: #fff;
          width: 100%;
          height: 100%;
          top: 0;
          left: 10rem;
          opacity: 0;
          display: flex;
          flex-direction: column;
          transform: scale(0.9);
          transition: all .2s;
          overflow: hidden;
          z-index: 35;

          &__grid {
              width: 90%;
              height: 50%;
              display: flex;
          }

          &__close {
              position: absolute;
              left: 93%;
              top: 50%;
              cursor: pointer;
              transform: translateY(-50%);

              @include respond(phone) {
                  left: 87%;
              }

              img {
                  width: 4rem;
                  height: 4rem;

                  @include respond(phone) {
                      width: 3rem;
                      height: 3rem;
                  }
              }

          }
      }

      &__task {
          width: 50%;
          height: 100%;
          padding: 1.5rem;
          padding-top: 5rem;
          overflow: hidden;

          @include respond(400) {
              height: 80%;
          }

          &-code {
              font-size: 2rem;

              @include respond(phone) {
                  font-size: 1.5rem;
              }
          }

          &-desc {
              font-size: 1.4rem;

              @include respond(phone) {
                  font-size: 1.1rem;
              }
          }

          &-marks {
              color: #de173a;
              font-size: 1.3rem;
          }

      }

      &__coordinators {
          position: absolute;
          background: rgba(255, 255, 255, 1);
          width: 100%;
          height: 100%;
          top: 0;
          left: 10rem;
          opacity: 0;
          display: flex;
          flex-direction: column;
          transform: scale(0.9);
          transition: all .2s;
          overflow: hidden;
          z-index: 35;

          &__grid {
              display: flex;
              justify-content: space-around;
              align-items: center;
              width: 95%;
              height: 50%;
          }

          &__box {
              width: 20rem;
              height: 20rem;
              margin: 1rem;
              overflow: hidden;
              position: relative;
              cursor: pointer;
              transition: all .2s;

              @include respond(tab-port) {
                  width: 18rem;
                  height: 18rem;
              }

              @include respond(phone) {
                  width: 15rem;
                  height: 15rem;
                  margin: .5rem;
              }
              @include respond(400) {
                  width: 10rem;
                  height: 10rem;
                  margin: .1rem; 
              }

              &:hover > div {
                  top: 80%;
              }
              div{
                    @include respond(phone) {
                font-size: 1rem;
              } 
              }
          }

          &__close {
              position: absolute;
              left: 93%;
              top: 50%;
              cursor: pointer;
              transform: translateY(-50%);

              img {
                  width: 4rem;
                  height: 4rem;

              }

          }

          &__img {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
          }

          &__details {
              overflow: hidden;
              background: rgba(0, 0, 0, 0.62);
              width: 100%;
              position: absolute;
              left: 0;
              top: 100%;
              height: 20%;
              color: #fff;
              font-size: 1.2rem;
              text-align-last: left;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              padding-left: 1rem;
              transition: all .2s;

          }
      }

  }

  .scaleProblems {
      transform: scale(1);
      opacity: 1;
  }

  .moveAbs {
      left: -10rem;
      opacity: 0;
      transform: scale(0.9);
      z-index: 35;
  }

  .moveCoordinators,
  .moveTasks {
      left: 0;
      opacity: 1;
      transform: scale(1);
      z-index: 37;
  }
