/*font-family: 'Roboto Mono', monospace;
font-family: 'Muli', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Righteous', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Major Mono Display', monospace;
font-family: 'Raleway', sans-serif;*/

.highlighter {
    position: relative;
    background: linear-gradient(to right, orange, #ff2700) bottom repeat-x;
    background-size: 3px 3px;
    transition:.3s;
    @include respond(phone){
        background-size: 1.5px 1.5px;
    }
    &:hover {
        color: #fff;
        background-size: 100% 100%;
     
    } 
}
