.canvas {
    position: relative;
    width: 100%;
    height: 100vh;


}

.section {
    &__heading {

        position: absolute;
        top: 7rem;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        font-family: 'Major Mono Display', monospace;
        h1 {
            font-size: 5rem;
            color: #222222;
            text-align: center;
            margin-top: 0;
            text-transform: uppercase;
            font-weight: 900;
        }
    }

    &__about,
    &__structure,
    &__problems,
    &__faq,
    &__footer {
        width: 100%;
        height: 0vh;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        transition: all .5s cubic-bezier(.7, .18, .97, .54);

    }
    &__about {
        z-index: 11;
        //        background: #f5f0c6;
        background: #fff;
    }
    &__structure {
        z-index: 21;
        background: #fff;
        overflow: hidden;
    }
    &__problems {
        z-index: 31;
        background: #fff;
        overflow: hidden;
    }
    &__faq {
        z-index: 41;
        background: #fff;
        overflow: hidden;
    }
    &__footer {
        z-index: 51;
        background: #fff;
        overflow: hidden;
    }
}

.overFlowControl {
    overflow: hidden;
}

.goUp {
    transform: translateY(-100%);
    height: 100vh;
}

.glitch-window-1,.glitch-window-2,.glitch-window-3,.glitch-window-4
{
	position: absolute;
	top: 0;
	left: -2px;
	width: 100%;
	color: #222222;
	text-shadow: 2px 0 #F9F8F8, -1px 0 yellow, -2px 0 green;
	overflow: hidden;
	animation: crt-me 2500ms infinite linear alternate-reverse;
	// background: red;
}

 
@keyframes crt-me {
	 0% {
        clip: rect(31px, 9999px, 94px, 0)
    }
    10% {
        clip: rect(112px, 9999px, 76px, 0)
    }
    20% {
        clip: rect(85px, 9999px, 77px, 0)
    }
    30% {
        clip: rect(17px, 9999px, 97px, 0)
    }
    40% {
        clip: rect(64px, 9999px, 98px, 0)
    }
    50% {
        clip: rect(61px, 9999px, 85px, 0)
    }
    60% {
        clip: rect(99px, 9999px, 114px, 0)
    }
    70% {
        clip: rect(14px, 9999px, 115px, 0)
    }
    80% {
        clip: rect(98px, 9999px, 129px, 0)
    }
    90% {
        clip: rect(43px, 9999px, 96px, 0)
    }
    100% {
        clip: rect(12px, 9999px, 64px, 0)
    }
    
}
