.canvas{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    
}

.section{
    &__about{
        z-index: 11;
        width: 100%;
        height: 80rem;
        background: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        transition: all .3s;
    }
}

.goUp{
    transform: translateY(-100%);
}